@import "https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100;0,600;1,300&family=Raleway:ital,wght@0,400;1,300;1,400&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #466180;
  font-size: 16px;
}

/* div.menuBox: hover {
  opacity: 0.5;
} */

nav.menu {
  background: #466180;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

a {
  text-decoration: none;
}

nav a:link {
  color: #fffbd9;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: #d3daf2;
}

nav a:active {
  color: #d7fcf4;
}

section.header_lrg {
  background: url(../images/home@2x.jpg) fixed center center no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 70vh;
  height: auto;
}

.header_lrg header {
  text-align: center;
}

.header_lrg h1 {
  font-family: "Gruppo", cursive;
  font-size: 7em;
  text-transform: lowercase;
  font-weight: bold;
  color: #d3daf2;
}

.header_lrg h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: lighter;
}

section.bio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 70vh;
  height: auto;
  background: #466180;
  padding: 1em;
}

.bio article {
  background: #8089a6;
  padding: 4em;
  width: 70%;
}

.bio h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  color: #d3daf2;
}

.bio h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  /* font-stretch: condensed; */
  font-size: 4em;
  text-transform: lowercase;
  color: #fffbd9;
}

.bio p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 1.2em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

section.selfCol4x {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section.self {
  background: #466180;
  display: flex;
  align-items: center;
  width: 30%;
}

.bio img {
  width: 100%;
}

div.stats {
  background: #466180;
  color: black;
  padding: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

section.reflections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background: #466180;
  padding: 1em;
}

.reflections h2 {
  font-family: "Gruppo", cursive;
  font-size: 2em;
  text-transform: lowercase;
  font-weight: bold;
  color: #d3daf2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.reflections a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffc9c9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

section.foot {
  background: url(../images/feet.jpg) center no-repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  height: auto;
}

.foot footer {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  text-transform: capitalize;
}
